global_config: node ../config/lib/global --host '*' --res_port 21001 --pub_port 21002
zone_config: node ../config/lib/zone --host '*' --res_port 21101 --pub_port 21102
auth: node ../auth/lib/index.js
web_socket: node ./lib/ws_server.js
media: node ./lib/media_server.js
data_queues: node ./lib/data_queues.js
media_queues: node ./lib/media_queues.js